<div *ngIf="message" class="message-content">
  <p *ngIf="!isSignReply;else signReply" [innerHTML]="message.content?.value"></p>

  <ng-template #signReply>
    <div class="message-content">
      <img [src]="message.content?.value" alt="signature">
    </div>
  </ng-template>
</div>

<div *ngIf="message?.responseRequest && last" class="response">
  <ng-container [ngSwitch]="nodeType">
    <ng-container *ngSwitchCase="nodeTypes['PromptNode']">
      <mat-form-field appearance="outline">
        <mat-label>Answer</mat-label>
        <input (keydown.enter)="sendAnswer(control.value)"
               [formControl]="control"
               [matAutocomplete]="auto"
               matInput
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let answer of prevAnswers" [value]="answer.text">
            {{ answer.text }}
            <button (click)="$event.stopPropagation(); deleteAnswer(answer)" class="delete-button"
                    color="warn"
                    mat-mini-fab>
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="sendAnswer(control.value)" color="primary" mat-raised-button>
        <mat-icon>send</mat-icon>
        <span>Send</span>
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="nodeTypes['SignatureNode']">
      <app-signing-pad (signatureSaved)="sendAnswer($event)"></app-signing-pad>
    </ng-container>
  </ng-container>


</div>
